@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,500&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background: white;
}

.center-win{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.ring-loading{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}

@keyframes ring {
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  50%{
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #18b201;
  }
  100%{
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}

.ring-loading:before{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255,255,255,.3);
}

span{
  padding-top: 12%;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 200px;
  animation: text 3s ease-in-out infinite;
}

@keyframes text {
  50%{
    color: black;
  }
}

.web-moto{
  position: absolute;
  padding-top: 14.25%;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 200px;
  animation: text 3s ease-in-out infinite;
}

img{
  position: absolute;
  width: 120px;
  height: 120px;
}